@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.calculator {
  max-width: 220px;
  width: 200px;
  border-radius: 10px;
  border: 0.6px solid #545556;
  background-color: #545556;
  overflow: hidden;
}

.formula-result {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  padding: 10px 10px 0;
}

.formula-wrapper {
  width: 100%;
  text-align: right;
}

.formula {
  max-width: 160px;
  color: #FFF;
  font-size: 36px;
}

.operators {
  display: flex;
  align-items: center;
}

.operators button {
  width: calc(100% / 4);
  padding: 10px 15px;
  background-color: #656667;
  border-right: 1px solid #545556;
  color: #FFF;
  text-align: center;
}

.operators button:last-child {
  border-right: none;
}

.keyboard {
  display: flex;
  justify-content: space-between;
}

.numbers-area {
  flex-basis: 74.65%;
}

.numbers {
  display: flex;
}

.numbers button {
  width: calc(100% / 3);
  text-align: center;
  padding: 15px 10px;
  color: #FFF;
  border-right: 1px solid #545556;
  border-top: 1px solid #545556;
  background-color: #7e7f81;
}

.numbers button:last-child {
  border-right: none;
}

.calculator-result {
  flex-grow: 1;
  background-color: #ff9f0a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #545556;
  border-left: 1px solid #545556;
}

.calculator-result .equals {
  color: #FFF;
  width: 100%;
  height: 100%;
}