@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 60px;
  height: 50px;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.85);
}

.calculator {
  min-width: 234px;
  border-radius: 10px;
  border: 1px solid rgba(72, 93, 91, 0.9);
  background-color: rgba(72, 93, 91, 0.9);
  overflow: hidden;
}

.screen-buttons {
  display: flex;
  padding: 8px;
}

.screen-buttons button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.screen-buttons button:nth-child(1) {
  background-color: #EE6A5D;
  margin-right: 8px;
}
.screen-buttons button:nth-child(2) {
  background-color: #F4BD4F;
  margin-right: 8px;
}
.screen-buttons button:nth-child(3) {
  background-color: #61C454;
}

.formula-result {
  min-height: 52px;
  padding: 0 16px 12px;
  display: flex;
  align-items: end;
  justify-content: end;
}

.formula-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.formula {
  max-width: 208px;
  color: #FFF;
  font-size: 2.8rem;
  line-height: 1;
}

.operators {
  display: flex;
  align-items: center;
}

.operators button {
  flex-shrink: 0;
  text-align: center;
  background-color: #656667;
  border-right: 1px solid rgba(72, 93, 91, 0.9);
}

.operators button:last-child {
  border-right: none;
}

.keyboard {
  display: flex;
  justify-content: space-between;
}

.numbers-area {
  flex-basis: 180px;
}

.numbers {
  display: flex;
}

.numbers button {
  flex-shrink: 0;
  text-align: center;
  background-color: rgba(117, 132, 132, 0.9);
  border-top: 1px solid rgba(72, 93, 91, 0.9);
  border-right: 1px solid rgba(72, 93, 91, 0.9);
}

.calculator-result {
  flex-grow: 1;
  background-color: rgba(255, 159, 11, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(72, 93, 91, 0.9);
}

.calculator-result .equals {
  width: 100%;
  height: 100%;
}